useDynLib(varbvs)
export(varbvsoptimize,
       varbvsupdate,
       varsimbvs,
       varbvsbinupdate,
       varbvsbinoptimize,
       updatestats,
       grid3d,
       "create.snps",
       "create.data")
