useDynLib(varbvs)
export(varbvsoptimize,
       varbvsupdate,
       varsimbvs,
       varbvsbinupdate,
       varbvsbinoptimize,
       updateeta,
       updatestats,
       grid3d,
       create.snps,
       create.data)
