useDynLib(varbvs)

importFrom(stats,qnorm)
importFrom(stats,quantile)
importFrom(stats,runif)
importFrom(stats,rnorm)
importFrom(stats,var)

export(logit,logpexp,logsigmoid,sigmoid,normalizelogweights,
       diagsq,diagsqt,cred,updatestats_varbvsbin,updatestats_varbvsbinz,
       update_eta,update_etaz,varbvs,varbvsnorm,varbvsbin,varbvsbinz,
       varbvsnormupdate,varbvsbinupdate,varbvsbinzupdate,varbvscoefcred,
       varbvsindep,varbvspve,varbvsplot,bayesfactor,rand,randn)

S3method(summary,varbvs)
S3method(print,summary.varbvs)
