useDynLib(varbvs)
export(print.varbvs,logit,logpexp,logsigmoid,sigmoid,normalizelogweights,
       diagsq,diagsqt,cred,updatestats.varbvsbin,updatestats.varbvsbinz,
       update.eta,update.etaz,varbvs,varbvsnorm,varbvsbin,varbvsbinz,
       varbvsnormupdate,varbvsbinupdate,varbvsbinzupdate,varbvscoefcred,
       varbvspve,rand,randn)

S3method("print","varbvs")
